*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(imagenes/fondo.png);
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-size: 100%;
    color:white;
}
.img-principal{
    width: 50%;
    margin: 50px auto;
    max-width: 500px; 
    border-radius: 10px;
    display:flex;
    justify-content: center;
}
.img-principal img {
    width: 100%;
}
.start{
    margin: 50px auto;
    color: white;
    background:black;
    width: 80%;
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.enter{
    width: 100px;
    height: 28px;
    border:2px solid #fecc20;
    color: white;
    display: flex;
    align-self: center;
    margin: 20px 0 0;
    background-color: rgba(0,0,0,.5); 
}

.hide{
    display: none !important;

}
.header{
    position: fixed;
    z-index: 1;
    background:black; 
    height: 150px;
    padding: 0;
    display: flex;
    
}
img.logo{
    width: 10%;
    min-width: 100px;
    padding: 20px 80px 10px 0;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;    
}
.opciones{
    width: 150px;
    height: 38px;
    margin: 0 40px 0;
            
}
h1{
    display: flex;
    justify-content: center;
}
.charater{
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    border-radius: 10px;
    display: inline-block;
}
figure.group figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 200px;
    margin: 10px 40px; 
}
.house, .varita, .patronus {
    display: flex;
    flex-direction: column;
    align-content: center;
    
}
.house figure.group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 200px 0;
}
.img-house{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    
}
.varita figure.group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 200px 0;
}
.img-varitas{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
}
.patronus figure.group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 200px 0;
}
.img-patronus{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
} 
.text-center {
    text-align: center;
}
.list-character{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    
}
.list-personajes {
    display: inline-block;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    background: grey;
    width: 200px;
    height: 300px;
    margin: 10px 20px;
    border-radius: 20px;
    padding: 10px 10px;
}
.character{
    padding: 200px 0;
}
.potter-img{
    width: 150px;
    height: 200px;
    margin:  10px 20px;
    border-radius: 20px;
}
.modal-contenido{
    background-color: #28344e;
    width: 50%;
    height: 80%;
    padding: 10px 20px;
    margin: 2% auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}
.modal{
    display: flex;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
}
#miModal:target{
    opacity:1;
    pointer-events:auto;
}
.close{
    display: flex;
    align-self: flex-start;
    font-size: xx-large;
    color: white;
}
h3{
    margin: 5px;
    padding: 0;
}
