body{
    background-image: url(imagenes/storm-clouds.png);
    background-repeat: no-repeat;
    background-repeat: repeat-y ;
    background-size: 100%;
}
.img-principal{
    width: 80%;
    margin: 50px auto;
    max-width: 640px; 
    border-radius: 10px;
    display:flex;
    justify-content: center;
}
.img-principal img {
    width: 100%;
}

.start{
    margin: 50px auto;
    color: white;
    background:black;
    width: 80%;
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    /*align-content: center;*/  
    padding: 30px;
}
.enter{
    width: 100px;
    height: 28px;
    display: flex;
    align-self: center;
    margin: 20px 0 0;
}
.hide{
    display: none !important;

}
.header{
    background:black; 
    height: 150px;
    padding: 0;
    display: flex;
}
.logo{
    width: 10%;
    padding: 20px 80px 10px 0;
}
.opciones{
    width: 150px;
    height: 38px;
    margin: 60px 40px 0;
    justify-content: center;
    
}
h1{
    display: flex;
    justify-content: center;
}
.charater{
    width: 100px;
    height: 100px;
    margin:  40px;
    background-size: 100px 100px;
    border-radius: 10px;
    display: inline-block;
}
figure.group figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 200px;
    margin: 10px 40px; 
}
.house, .varita, .patronus {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.house figure.group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-house{
    width: 200px;
    height: 200px;
    margin: 20px;
}
.varita figure.group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-varitas{
    width: 200px;
    height: 200px;
    margin: 20px;
}
.patronus figure.group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-patronus{
    width: 200px;
    height: 200px;
    margin: 20px;
} 
.text-center {
    text-align: center;
}
.list-character{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
}
.list-personajes {
    width: 150px;
    height: 280px;
    margin: 0 20px;
}
.potter-img{
    width: 150px;
    height: 200px;
    margin:  0 20px;
}